<ion-header class="encabezado">
  <ion-toolbar class="busqueda">
    <div class="flex-container">
      <ion-title class="titulo-bienvenida">Bienvenido, superadmin</ion-title>
      <button class="cerrar" (click)="cerrarSesion()">Cerrar sesión</button>
    </div>
  </ion-toolbar>
</ion-header>



<ion-content class="contenido">
  
  <div class="back-title"><h1 class="panel">Panel de Control </h1></div>

  <div class="botones-container">
    <button  (click)="verUsuarios()" class="boton2"><img class="imagen" src="assets/edituser.png" alt=""/><span class="textBoton1">Ver Usuarios</span></button>
    
    <button  (click)="verAdmin()" class="boton2"><img class="imagen" src="assets/edituserop2.png" alt=""/><span class="textBoton1">Ver Administrativos</span></button>
</div>

</ion-content>
  
  

  